body{
    background-color: black;
}
.header{
    justify-content: center;
}
.logo{
    height: 10vh;
    width: 9vw;
    padding-left: 2vw;
}
.title{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top :20vh;
    left:4vw;
    font-size: 75px;
}
.logo{
    height: 10vh;
    width: 9vw;
    padding-left: 2vw;
}

.topsection{
    background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}
.login{
    position: absolute;
    right: 10vw;
    margin-top: 2vh;
    width: 70px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 8%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}
.description{
    position: absolute;
    top: 47vh;
    padding-left: 3vw;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}

.media{
    display: flex;
    flex-direction: row;
    float: left;
    text-align: end;
    padding: 2vh;
    height: 220px;
    width: 90vw;
    border-style: solid;
    margin: 5px;
    margin-left: 60px;

}
#titlelabel{
    width:350px; 
    height:100px; 
    margin:5px;
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#mdes{
    width:300px; 
    height:200px; 
    border-style:solid; 
    margin:5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.input{
    position: absolute;
    width: 50vw;
    top: 74vh;
    height: 5vh;
    left: 10vw;
}
#submit{
    position: absolute;
    top: 74vh;
    left: 62vw;
    height: 6vh;
    width: 5vw;
}
#titlelabel{
    color: antiquewhite;
}
#mdes{
    color: white;
}